#top{
    height: 40px;
    background: #ffffff;
    border-bottom: 1px solid #f5f5f5;
}

#top .container{
    width: 990px;
    height: 40px;
    margin: 0 auto;
    display: flex;  /*变成弹性盒模型 */
    justify-content: space-between;  /* 一个在左一个在右 */
    
}

#top .left{
    position: relative;
}

#top .logo{
    margin-right: 20px;
    position: relative;
    z-index: 22;
}

#top .left span a{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 21;
    display: none;
}

#top .left span:hover a{
    display: block;
}

#top .right{
    position: relative;
    display: flex;
}

#top .right h3{
    color: #464646;
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
    position: relative;
    cursor: pointer;
}
#top .right .text1{
    margin-right: 20px;
    padding-left: 30px;
}

#top .right .text2{
     padding-right: 25px;

}
#top .right .text2::after{
    content: "";
    width: 30px;
    height: 30px;
    background: url(../img/title_sprite.png);
    position: absolute;
    right: 3px;
    top: 5px;

    transform: rotate(90deg);    /*旋转90度 */
    opacity: 0.1;      /*透明度0.1*/

}

#top .right .text1::after{
    content: "";
    width: 30px;
    height: 30px;
    background: url(../img/title_sprite.png) -30px;

    position: absolute;
    left: 0;
    top: 5px;
}
#top .right h3 a{
    color: #464646;
}

#top .right h3 a:hover{
    color:#ff4e00;
}

#top .right h3 iframe{
    position: absolute;
    top: 40px;
    right: 20px;
    display: none;
    z-index: 11;
}

#top .right .text2:hover iframe{
    display: block;
}

#nav{
    height: 131px;
    background: url(../img/top-nav.png) center no-repeat;
    position: relative;
    z-index: 10;
}


#nav .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#nav .container .title{
    display: flex;
}
#nav .container .title a{
    margin: 4px 20px 0 0;
}
#nav .container .title h1{
    font-size: 24px;
    color: #ffb400;
    margin-top: 24px;
}
#nav .container .title h1 span{
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: white;
}
#nav ul{
    display: flex;
}

#nav ul a {
    display: block;
    width: 120px;
    height: 100px;
    line-height: 100px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

#nav ul a:hover{
    color: #ffb400;
    background: url(../img/spr_icon.png) no-repeat 0 -48px;
}

#section1 {
    height: 920px;
    margin-top: -30px;
    position: relative;
    z-index: 9;
}

#section1 .container{
    height: 890px;
    background: url(../img/section1.jpg) no-repeat center;
    margin: 0 auto;
}
#section1 .container .btn{
    width: 232px;
    height: 78px;

    position: absolute;
    top:30px;
    left: 70%;
    background: url(../img/进入官网.png) no-repeat center;
    text-indent: -999px;
    overflow: hidden;
}

#section1 .container .vedio{
    width: 100%;
    position: absolute;
    top: 654px;
    display: flex;
    justify-content: center;

}
#section1 .container .vedio .play{
    width: 283px;
    height: 163px;
    position: relative;

}
#section1 .container .vedio .play::after{
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    background: url(../img/play-btn.png) no-repeat center;
    cursor: pointer;
}
#section1 .qrcode{
    width: 156px;
    height: 156px;
    margin: 0 15px;
}
#section1 .down{
    width: 229px;
    height: 156px;

}
#section1 .down a{
    display: block;
}

#section1 .down a:nth-child(2){
    margin-top: 10px;
}

.dialog{
    width: 1063px;
    height: 608px;
    padding: 9px 8px;
    box-sizing: border-box;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 21;
    display: none;
}

.dialog .closebtn{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 7px;
    right: -102px;
    cursor: pointer;
    background: url(../img/dia-close.png) no-repeat center;
}


 .shadow{
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 19;
    display: none;
}

#section2{
    height: 883px;
    position: relative;
    z-index: 7;
    background: url(../images/section2_bg1.jpg) no-repeat center top;
    margin-top: -30px;
    padding-top: 92px;
    box-sizing: border-box;
}

#section2::after{
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url(../images/section2_bg2.jpg) no-repeat center ;
}

#section2 h2{
    height: 76px;
    background: url(../images/section2_head.png) no-repeat center;
    text-indent: -100px;
    overflow: hidden;
}
#section2 .container{
    width: 1200px;
    margin: 60px auto 0; 
}

#section2 .tablist{
    display: flex;
}
#section2 .tablist li{
    width: 600px;
    height: 100px;
    line-height: 100px;
    font-size: 38px;
    color: #ffbf05;
    background: url(../images/css-sprites.png) -20px -17px;
    text-align: center;
    cursor: pointer;
}
#section2 .tablist li.active{
    color: #fff;
    background: url(../images/css-sprites.png) -20px -134px;
}

#section2 .con{
    height: 440px;
    background: url(../images/sec2-cont-bg.png) no-repeat center;
    padding-top: 30px;
    box-sizing: border-box;
}
#section2 .con>div{/*大于号>只选择第一层的div*/
    display: none;
}
#section2 .con>div.active{
    display: flex;
}
#section2 .con .subTab_1{
   justify-content: space-between;
}
#section2 .con .subTab_1 li{
    width: 240px;
    height: 100px;
    line-height: 100px;
    font-size: 26px;
    color: #cbcbcb;
    background: url(../images/css-sprites.png) -268px -389px;
    text-align: center;
    cursor: pointer;
}
#section2 .con .subTab_1 li.active{
    color: #000;
    background:url(../images/css-sprites.png) -268px -509px;
}
#section2 .con .subTab_1 .tabContent{
    width: 900px;
    margin-left: 20px;
    padding-top: 64px;
}
#section2 .con .subTab_1 .tabContent>div{
    display: none;
}
#section2 .con .subTab_1 .tabContent>div.active{
    display: flex;
}
#section2 .con .subTab_1 .text{
    margin-left: 26px;
}
#section2 .con .subTab_1 .text h3{
    font-size: 20px;
    color: #ffbf05;
    text-align: center;
    margin: 0 auto 16px;
}
#section2 .con .subTab_1 .text p{
    font-size: 16px;
    color: #e4e4e4;
}
.subTab_2{
    padding:40px 30px 0;
    justify-content: space-between;
}

.subTab_2 ul{
    width: 570px;
    height: 326px;
    display: flex;
    flex-wrap: wrap; /* 让子元素换行*/
    justify-content: space-between;
    align-content: space-between;
}
.subTab_2 li{
    width: 50%;
    background: url(../images/subTab_bg.png) no-repeat center;
    position: relative;
    cursor: pointer;
}
.subTab_2 li p{
    font-size: 16px;
    color: #ffbf05;
    position: absolute;
    bottom: 12px;
    right: 18px;
}
#section2 .con .subTab_2 .tabContent>div{
    display: none;
    width: 546px;
    height: 317px;
    position: relative;
    background: url(../images/subTab_bg_big.png) no-repeat center;
    cursor: pointer;
}
#section2 .con .subTab_2 .tabContent>div.active{
    display: flex;
}
#section2 .con .subTab_2 .tabContent p{
    width: 100%;
    height: 52px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    color: #ffbf05;
    text-align: center;
    line-height: 52px;
}
.public{
    height: 880px;
    position: relative;
    z-index: 6;
    background: url(../images/section3_bg1.jpg) no-repeat center top;
    margin-top: -16px;
    padding-top: 92px;
    box-sizing: border-box;
}

.public::after{
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url(../images/section3_bg2.png) no-repeat center ;
}

.public h2{
    height: 66px;
    background: url(../images/section3_head.png) no-repeat center;
    text-indent: -100px;
    overflow: hidden;
}

.public .container{
    width: 1400px;
    margin:90px auto 0;
    position: relative;
}

.public .container .wrap{
    width: 1200px;
    margin:0 auto;
    overflow: hidden;

}
.public .container .wrap ul{
    width: 4800px;
    display: flex;
}
.public .container .wrap li{
    display: flex;
}
.public .container .wrap li img{
    width: 600px;
    height: 424px;

}
.public .container .wrap li .text{
    width: 600px;
    height: 424px;
    background: rgba(0, 0, 0, .5);

}
.public .container .wrap li .text h3{
    font-size: 26px;
    color: #000;
    text-align: center;
    font-weight: normal;
    line-height: 62px;
    background: #ffbf05;
}
.public .container .wrap li .text p{
    width: 540px;
    height: 280px;
    padding: 0 10px;
    margin: 40px auto 0;
    box-sizing: border-box;

    font-size: 16px;
    color: #e4e4e4;
    line-height: 30px;
}

.public button{
    width: 57px;
    height: 115px;
    position: absolute;
    top: 50%;
    margin-top: -58px;
    background: url(../images/css-sprites.png) no-repeat;
}
.public button.prev{
    left: 0;
    background-position: -24px -255px;
}
.public button.next{
    right: 0;
    background-position: -184px -255px;
}
.public button.prev:hover{
    background-position: -99px -255px;
}
.public button.next:hover{
    background-position: -266px -255px;
}

.public .circle{
    margin-top: 90px;
    text-align: center;
}
.public .circle span{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: #898179;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

}
.public .circle span.active{
    background: #ffbf05;
}

#section4 {
    height: 880px;
    position: relative;
    z-index: 5;
    background: url(../images/section4_big_01.png) no-repeat center top;
    margin-top: -15px;
    padding-top: 92px;
    box-sizing: border-box;
}

#section4 .bottom{
    
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url(../images/section4_big_01_bottom.png) no-repeat center ;
}

#section4 h2{
    height: 76px;
    background: url(../images/section4_head.png) no-repeat center;
    text-indent: -100px;
    overflow: hidden;
}

#section4 ul{
    width: 100%;
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;
}

#section4 li{
    width: 144px;
    margin: 0 14px;
    text-align: center;
    cursor: pointer;
}

#section4 li img{
    border:2px solid transparent;
}
#section4 li p{
    margin-top: 18px;
    font-size: 26px;
    color: #c2c2c2;
}
#section4 li.active img{
    border-color: #ffb505;
}
#section4 li.active p{
    color: #FFB505;
}

#section5{
    background-image: url(../images/section5_bg1.jpg);
    z-index: 4;
}
#section5::after{
    background-image: url(../images/section5_bg2.png);
}
#section5 h2{
    height: 76px;
    background-image: url(../images/section5_head.png);
}

#section6{
    height: 880px;
    position: relative;
    z-index: 3;
    background: url(../images/section6_bg1.jpg) no-repeat center top;
    margin-top: -15px;
    padding-top: 92px;
    box-sizing: border-box;
}

#section6::after{
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url(../images/section6_bg2.png) no-repeat center ;
}

#section6 h2{
    height: 66px;
    background: url(../images/section6_head.png) no-repeat center;
    text-indent: -100px;
    overflow: hidden;
}

#section6 ul{
    display: flex;
    margin-top: 88px;
    justify-content: center;
}
#section6 ul li{
    width: 395px;
    height: 440px;
    text-align: center;
    border:2px solid #ffb505;
    background: rgba(0, 0, 0, .5);
    margin: 0 4px;

}
#section6 ul li h3{
    width: 197px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    margin: 26px auto 19px;
    font-size: 22px;
    background: url(../images/css-sprites.png) no-repeat -423px -255px;
}
#section6 ul li p{
    width: 318px;
    margin: 0 auto;
    font-size: 16px;
    color: #e4e4e4;
    text-align: left;

}

#section7{
    height: 880px;
    position: relative;
    z-index: 2;
    background: url(../images/section7_bg1.jpg) no-repeat center top;
    margin-top: -15px;
    padding-top: 92px;
    box-sizing: border-box;
}

#section7::after{
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url(../images/section7_bg2.png) no-repeat center ;
}

#section7 h2{
    height: 66px;
    background: url(../images/section7_head.png) no-repeat center;
    text-indent: -100px;
    overflow: hidden;
}

#section7 ul{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#section7 li{
    display: flex;
    margin: 0 5px;
}

#section7 li h3{
    width: 92px;
    height: 520px;
    font-weight: normal;
    background: url(../images/css-sprites.png) no-repeat -142px -389px;
    color:#bcbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#section7 li h3 p{
    width: 32px;
    font-size: 32px;

}
#section7 li div{
    width: 510px;
    background: url(../images/bg7-box.png) no-repeat center top/100% 100%;
    width: 0;
    opacity: 0;
    margin-left: 20px;
}
#section7 li div p{
    width: 545px;
    height: 510px;
    padding: 30px 25px 0 ;
    box-sizing: border-box;
    font-size: 20px;
    color: #c7c7c7;
    line-height: 38px;
}
#section7 li.active h3{
    color: #875d00;
    background: url(../images/css-sprites.png) no-repeat -24px -389px;

}

#section7 li.active div{
    width: 545px;
    height: 510px;
    opacity: 1;

}
#section8{
    height: 880px;
    position: relative;
    z-index: 1;
    background: url(../images/section8_bg1.jpg) no-repeat center top;
    margin-top: -15px;
    padding-top: 92px;
    box-sizing: border-box;
}

#section8::after{
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url(../images/section8_bg2.jpg) no-repeat center ;
}

#section8 h2{
    height: 66px;
    background: url(../images/section8_head.png) no-repeat center;
    text-indent: -100px;
    overflow: hidden;
}

#section8 ul{
    width: 1000px;
    height: 495px;
    margin: 0 auto;
    position: relative;
}
#section8 li{
    width: 858px;
    height: 495px;
    position: absolute;

}
#section8 li img{
    width: 100%;
    height: 100%;

    

}
#section8 li:nth-child(1){
    left: 0;
    z-index: 2;
    opacity: .5;
    transform: scale(.8); /* 缩放*/
    transform-origin: left;
}
#section8 li:nth-child(2){
    z-index:3 ;
    left: 50%;
    transform: translateX(-50%);

}
#section8 li:nth-child(3){
    right: 0;
    z-index: 2;
    opacity: .5;
    transform: scale(.8);
    transform-origin: right;
}
#section8 li:nth-child(n+4){
    left: 50%;
    z-index: 1;
    opacity: 0.5;
    transform: translateX(-50%) scale(.8);
}
#section8 .circle{
    margin-top: 50px;
}

#footer{
    font-size: 12px;
    line-height: 20px;
    background: #000;
    margin-top: -30px;
    color: #fff; 
    padding-top: 80px;
}
#footer .container{
    width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#footer .logo a{
    margin-right: 10px;
}
#footer .container ul{
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    margin-top: 20px;
}
#footer .container li{
    margin: 0 3px;
}